
<main class="main">
  <div class="header">
    <div>
      <h1>{{ title }}</h1>
    </div>
  </div>
  <div class="content">
    <div class="event-form">
      <h1>New Event</h1>
      <input class="event-form-inputs" type="text" placeholder="Title">
      <input class="event-form-inputs" type="text" placeholder="Description">
      <input class="event-form-inputs" type="date" placeholder="Date">
      <input class="event-form-inputs" type="number" placeholder="Hour">

      <div class="event-form-buttons">
        <button style="background-color: red;">Cancel</button>
        <button style="background-color: green;">Add</button>
      </div>

    </div>
    <div class="divider" name="separator"></div>
    <div>

    </div>
    </div>
</main>

<router-outlet></router-outlet>
